block variables
	- name = 'Fatrini'
	- title = 'Frontend Developer'

doctype html
html(lang='en' dir='ltr')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
		title #{name} - #{title}

		link(rel='icon' href=require('Images/favicon.png') type='image/svg+xml')
		link(href=require('Fonts/fontawesome/css/fontawesome.css') rel="stylesheet")
		link(href=require('Fonts/fontawesome/css/solid.css') rel="stylesheet")
		link(href=require('Fonts/fontawesome/css/brands.css') rel="stylesheet")

		block style

		block script
		script(src=require('Scripts/index.js'))
	
	body
		block content
